<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Melody of city</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="circles.js"></script>
  </head>
  <body>
    <div class="container">
      <canvas width="640" height="640" id="canvas">
        <h1>Roar! No canvas for you!</h1>
      </canvas>
      <div class="panel">
        <span class="block">
          <span class="bold">This is</span>
          <span class="block" id="name"></span>
        </span>
        <span class="block">
          <span class="bold" id="card"></span> of people have got a library
          member card
          <span class="label" id="cardAboveAvg"></span>
        </span>
        <span class="block">
          <span class="bold" id="well"></span> of people are above average
          well-being level
          <span class="label" id="wellAboveAvg"></span>
        </span>
      </div>
    </div>
    <script src="tone.js"></script>
    <script src="sounds.js"></script>
    <script src="script.js"></script>
  </body>
</html>
